@import "tailwindcss";

/* Kendi özel renklerimizi v4 tarzında buraya ekleyelim */
@theme {
  --color-neuro-light: #00F2FF;
  --color-neuro-dark: #003366;
  --color-neuro-black: #020617;
}

/* Geri kalan CSS kodların aynen durabilir */
body {
  background-color: var(--color-neuro-black);
  color: white;
}